@import "tailwindcss";

@theme {
  --color-darkBg: #0b0f19;
  --color-darkCard: #131b2f;
  --color-primary: #7c3aed;
  --color-secondary: #f97316;
}

body { 
    background-color: var(--color-darkBg); 
    color: #e2e8f0; 
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0b0f19; }
::-webkit-scrollbar-thumb { background: #7c3aed; border-radius: 4px; }